/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #336ce7;
  --ifm-color-primary-darker: #2F63D2;
  --ifm-color-primary-darkest: #2b59bd;
  --ifm-color-primary-light: #4A8DF9;
  --ifm-color-primary-lighter: #5A97FC;
  --ifm-color-primary-lightest: #69a2ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
